@media (max-width: 991px) {

.navbar_menu {
    display: flex;
}
.navbar_links {
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.97);
    font-size: 30px;
    margin: 0 -20px;
    z-index: 10;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s;
}  
.visible {
    display: flex;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s;
}  
.navbar_link {
    padding-left: 0px;
    margin-top: 30px;
}  
.home {
    flex-direction: column;
}  
.home_profile {
    margin-bottom: 30px;
    margin-right: 0;
}  
.home_title {
    font-size: 45px;
}  
.home_title--primary,
.home_title--secondary {
    font-size: 35px;
}

.section_title {
    font-size: 25px;
}  
.section_title:after {
    width: 110px;
    height: 3px;
}  
.section_subtitle {  
    font-weight: normal;
}  
.about_description {
    padding-right: 0px;
}  
.about_grid {
    grid-template-columns: 1fr;
}  

.button--cta {
    margin-bottom: 30px;
}  
.services_item {
    padding: 15px;
}  
.services_item h3 {
    margin-bottom: 5px;
}

.services_grid,
.portfolio_grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    }


}

@media (max-width: 767px) {
    /*Slider*/

.slider {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    margin-top: 20px;
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 25s infinite alternate linear;
}

.slider li {
    width: 10%;
    list-style: none;
}

.slider img {
    border-radius: 30px;
    float: center;
    width: 60%;
}
.slider p {
    font-size: 0.7em;
    
 }

@keyframes cambio {
    0%,
    15% {
        margin-left: 0;
    }
    50%,
    65% {
        margin-left: -100%;
    }
    85%,
    100% {
        margin-left: -200%;
    }
}
/*Fin Slider*/


.home_background {
    background-image: url(../Img/Programer.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}  
section {
    padding: 20px 0;
}  
.home_profile {
    margin-bottom: 30px;
}  
.home_title {
    font-size: 30px;
}  
.home_title--primary,
.home_title--secondary {
    font-size: 25px;
}  

.services_grid,
.portfolio_grid {
    grid-template-columns: 1fr;
    gap: 20px;
    }

.contact_grid {
    grid-template-columns: 1fr 1fr;
    }
.contact_item {
    padding: 18px;
    border-radius: 10px;
    transition: all 0.3s;
}
}
